@media (max-width: 991px) {
    .advantages {
        &__item {
            width: 236px;
        }
    }

    .pulse-monitor {
        &__slider {
            .slick-slide img {
                width: 600px;
            }
        }
    }

    .catalog {
        &__content {
            justify-content: center;
        }
        &-item {
            margin-right: 19px;
            &:nth-child(3n) {
                margin-right: 19px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }

    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 273px;
        }
    }

    .pulse-monitor {
        &__slider {
            .slick-slide img {
                width: 400px;
            }
        }
    }

    .catalog {
        &__tab {
            font-size: 16px;
        }
        &-item {
            margin-right: 9px;
            margin-left: 9px;
            &:nth-child(3n) {
                margin-right: 9px;
            }
            &:nth-child(2n) {
                margin-right: 9px;
            }
        }
    }

    .reviews {
        &__wrapper {
            flex-direction: column;
        }
        &__image {
            margin-right: 0;
            margin-bottom: 31px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &__name {
            text-align: center;
        }
        &__half-marathon {
            text-align: center;
        }
    }
}

@media (max-width: 575px) {
    .intro {
        min-height: 536px;
        padding: 21px 0 42px 0;
        &__title {
            font-size: 38px;
            text-align: center;
            margin-top: 61px;
        }
        &__subtitle {
            text-align: center;
        }
        &__wrapper {
            display: none;
        }
        &__link {
            text-align: center;
        }
    }

    .header {
        flex-direction: column;
        &__contacts {
            align-items: center;
            margin-top: 16px;
        }
    }

    .button {
        &_big {
            width: 286px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .advantages {
        padding: 64px 0 32px 0;
    }

    .title {
        font-size: 20px;
        &_left {
            line-height: 36px;
        }
    }

    .consultation {
        min-height: 540px;
        padding: 50px 0 54px 0;
        &__text {
            font-size: 18px;
        }
    }

    .form {
        width: 100%;
    }

    .pulse-monitor {
        padding: 54px 0;
        &__slider {
            .slick-slide img {
                width: 100%;
            }
        }
    }

    .catalog {
        padding-bottom: 40px;
        &__tabs {
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            margin-top: 12px;
            transform: skew(0);
            div {
                transform: skew(0);
            }
        }
        &-item {
            margin-right: 0;
            margin-left: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .footer {
        &__wrapper {
            position: static;
            transform: translateX(0);
            width: 100%;
            padding: 25px;
            height: auto;
        }
        &__address {
            font-size: 16px;
        }
    }

    .modal {
        width: 300px;
        min-height: 368px;
        padding: 20px;
        &__close {
            right: 0;
            top: -42px;
        }
        &__title {
            font-size: 16px;
        }
    }
}