.consultation {
    min-height: 680px;

    background: url("../img/backgrounds/bg2.jpg") center (center/cover) no-repeat;
    padding: 100px 0 108px 0;
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;

        color: #FFFFFF;
        margin-top: 8px;
        max-width: 426px;
    }
}